#ignore all zip files
*.zip
/Galicia-datathon/data.csv
/Galicia-datathon/respuesta_ada.csv
/Galicia-datathon/respuesta_arbol_1.csv
/Galicia-datathon/respuesta_arbol_2.csv
/Galicia-datathon/respuesta_cat.csv