#ignore all zipped answers
/respuesta_ada
/respuesta_arbol_1
/respuesta_arbol_2
/respuesta_cat
/catboost_info
/respuesta_random
/respuesta_xgb
/respuesta

#ignore dataset
/data

#ignore jupyter checkcpoints
/.ipynb_checkpoints

#ignore temporary files and numpy files
*.txt
*.npy